@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.game-container h2 {
    text-align: center;
    margin: 20px 0 30px 0;
}
.placeholder {
    position: relative;
    width: 600px;
    height: 400px;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #000, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.placeholder p {
    width: 600px;
    height: 400px;
     border:1px solid #000;
    color: #000;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    position: absolute;
    left:0;
    bottom:0;
    right: 0;
    top: 0%;
    line-height: 350px;
}
.game-over-container {
    font-size:20px;
    background: red;
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}